.All_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border-bottom: solid 5px rgb(92, 92, 92);
  padding: 10px;
}

.All_header h1 {
  margin-right: 2%;
  font-size: clamp(1.6rem, 6vw, 2rem);
  font-weight: bold;
  color: rgb(19, 19, 62);
  text-decoration: underline rgb(10, 181, 255);
}

.All_header h1::first-letter {
  font-size: clamp(1.6rem, 6vw, 2.2rem);
  font-weight: bold;
  color: rgb(10, 181, 255);
}

.All_header p {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: bold;
  padding: 1rem;
  border-radius: 50%;
}

.API_online {
  color: rgb(50, 187, 75);
  border: solid 2px rgb(50, 187, 75);
}

.API_offline {
  color: rgb(233, 72, 70);
  border: solid 2px rgb(233, 72, 70);
}

/* ------------------------------Body--------------------------- */
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.donation_form {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.7rem, 5vw, 1rem);
  width: 35rem;
  border: solid 2px rgb(19, 19, 62);
  border-radius: 10px;
  background: rgba(10, 181, 255, 0.254);
}

.donation_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-size: clamp(0.7rem, 4vw, 1.1rem);
  border: solid 1px rgb(9, 145, 204);
  background: rgb(10, 181, 255);
  border-radius: 5px;
  box-shadow: -5px 5px 0px rgb(10, 127, 177);
}

.donation_title {
  font-size: clamp(1.2rem, 6vw, 2rem);
  font-weight: bold;
}

.button_form {
  margin-top: 30px;
  width: 25%;
  height: 3rem;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: -5px 5px 0px rgb(10, 127, 177);
}

.button_form:active {
  box-shadow: inset -4px 4px 0px rgb(10, 127, 177);
}
